<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мониторинг</title>
	<link th:href="@{/css/employee.css}" rel="stylesheet">
	<link href="/webjars/leaflet/1.6.0/dist/leaflet.css" rel="stylesheet">
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<script src="/webjars/leaflet/1.6.0/dist/leaflet.js"></script>
	<script type="text/javascript" th:src="@{/js/employee.js}"></script>
</head>
<body>
	<form th:action="@{/logout}" method="get" class="logout-form">
		<button type="Submit" class="logout-button">Изход</button>
	</form>
	<div class="grid-content-wrap">
		<div class="grid-header">
			<div class="grid-row-delete-col">
				<!-- Delete Row Column -->
			</div>
			<div>
				Време
			</div>
			<div>
				Име
			</div>
			<div>
				Местоположение
			</div>
			<div>
				Телефон
			</div>
		</div>
		<div class="grid-table">
			<div class="grid-row" id="default-row">
				<div class="grid-row-delete-col">
					<!-- Delete Row Column -->
				</div>
				<div>
					[няма данни]
				</div>
				<div>
					[няма данни]
				</div>
				<div>
					[няма данни]
				</div>
				<div>
					[няма данни]
				</div>
			</div>
		</div>
	</div>
	<div id="map" class="map" style="height: 30rem; margin-left: 5%; margin-right: 5%; border: 10px solid #ED213A; border-radius: 10px;"></div>
</body>
</html>